
.nav-link {
  font-size: 16px;
  color: #114da2;
}

.nav-link:hover {
  color: #007bff;
  background-color: transparent;
}


/* Estilo para los contenidos */
.content {
  text-align: center;
  margin-top: 50px;
}
