<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" (click)="selectedOption = 'inicio'">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#categorias" (click)="selectedOption = 'categorias'">Categoría</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#productos" (click)="selectedOption = 'productos'">Productos</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Mostrar contenido según la opción seleccionada -->
<div *ngIf="selectedOption === 'inicio'" class="content">
  <h2>Gestión de Papelería</h2>
</div>

<!-- Mostrar el componente Categorías solo si se seleccionó 'categorias' -->
<app-categorias *ngIf="selectedOption === 'categorias'"></app-categorias>

<!-- Mostrar un mensaje para 'Productos' -->
<div *ngIf="selectedOption === 'productos'" class="content">
  <h2>Seleccionaste Productos</h2>
</div>
