div {
  display: flex;
  flex-direction: column; /* Para que los elementos se apilen de arriba a abajo */
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 20px;
  box-sizing: border-box;
  padding: 25px 0;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  padding-top: 25px;
}


button {
  align-self: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field input {
  border-radius: 5px;  /* Redondear los bordes */
  width: 100%;         /* Asegura que ocupe todo el ancho disponible */
  padding: 10px;       /* Ajusta el padding para que no se vea apretado */
  font-size: 16px;     /* Tamaño de texto para una mejor visibilidad */
}
