/* Contenedor del encabezado (botón + barra de búsqueda) */
.header {
  display: flex;
  justify-content: space-between; /* Espaciado entre el botón y la barra */
  align-items: center; /* Alinea verticalmente el contenido */
  width: 100%;
  padding: 0 25px; /* Añadimos margen horizontal a la izquierda y derecha */

}

/* Estilo para el botón "Añadir categoría" */
.add-category-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #096fec;
  width: auto;
  color: white;
  outline: none;
  border: none;
}
.add-category-btn mat-icon {
  color: white; /* Cambia también el color del icono a blanco */
   margin-right: 8px;
}

.add-category-btn:hover {
  background-color: #368cf4;
}

/* Barra de búsqueda */
.search-wrapper {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.search-bar {
  flex-grow: 1;
}






/* Contenedor de la tabla */
.table-container {
  margin-top: 2rem;
  overflow-x: auto;
  padding: 15px 15px;
}

button.btn.btn-link {
  background-color: transparent !important; 
  border: none !important;  /* Elimina el borde */
  box-shadow: none !important;  /* Elimina cualquier sombra */
  padding: 0 !important;  /* Elimina el padding adicional de los botones */
}

/* Ajustar el tamaño y color de los iconos dentro de los botones */
button.btn i {
  font-size: 24px;  /* Ajusta el tamaño del icono */
  color: inherit;  /* El color del icono hereda del color del botón */
}
/* Añadir separación de 10px entre los botones */
button.btn.btn-link + button.btn.btn-link {
  margin-left: 10px;  /* Agregar margen izquierdo al segundo botón */
}

/* Efecto hover para los iconos (solo cuando el ratón pasa por encima del icono) */
button.btn:hover i {
  opacity: 0.7;  /* Añade un efecto de opacidad al pasar el ratón */
}
